[submodule "lib/forge-std"]
  branch = "v1"
	path = lib/forge-std
	url = https://github.com/lib/forge-std
[submodule "lib/prb-test"]
  branch = "release-v0"
	path = lib/prb-test
	url = https://github.com/lib/prb-test
[submodule "lib/seaportcore"]
	path = lib/seaportcore
	url = https://github.com/lib/seaportcore
